{% extends 'layout.twig' %}

{% block body %}
	<div id="app">


		<div class="container add-form">
			<div class="form-badge"><img src="/img/icons/cash.svg"></div>
			<div class="form">
				<div class="alert alert-danger" style="display: none"></div>
				<div class="loader" v-if="sending == true"></div>

				<label>You paid for?</label>
				<input type="text" name="for" autofocus v-model="newPayment.for">

				<label>Description</label>
				<textarea name="description" rows="8" v-model="newPayment.description"></textarea>

				<label>How much did you paid?</label>
				<input type="number" name="amount" v-model="newPayment.amount">

	            <label>How important it was?</label>
	            <div class="types">
	                <label for="veryImportant" class="type">
	                    <input type="radio" id="veryImportant" name="importance" value="3" v-model="newPayment.importance">
	                    <div class="color-layer"></div>
	                    <span>Very Important!</span>
	                </label>
	                <label id="medium" class="type">
	                    <input type="radio" id="medium" name="importance" value="2" v-model="newPayment.importance" checked>
	                    <div class="color-layer"></div>
	                    <span>Medium</span>
	                </label>
	                <label id="notImportant" class="type">
	                    <input type="radio" id="notImportant" name="importance" value="1" v-model="newPayment.importance">
	                    <div class="color-layer"></div>
	                    <span>Not Important</span>
	                </label>
	            </div>

				<button type="submit" @click="add">Submit</button>
	        </div>
			<button class="view-logs" @click="showLogs">View your payment logs</button>
		</div>


		<div class="logs" style="display: none;opacity: 0;top: -100px">
			<div class="loader" v-if="loading"></div>
			<template v-for="month in data">
				<div class="log month">
					<span class="month-name">${month.month_name}</span>
					<span class="month-total money">${month.days | getMonthSum | formatMoney}</span>
				</div>
				<div class="log" v-for="day in month.days">
					<span class="date">${day.day_date | formatDate}</span>
					<span class="days-counter">${day.day_logs.length} items logged</span>
					<span class="amount">${day.day_logs | getDaySum | formatMoney}</span>
					<button @click="modal(day)">Details</button>
				</div>
			</template><!--month-loop-->
			<!--/-->
		</div>


		<div class="d-layer" @click="hideModal"></div>
		<div class="modal">
			<h3>Day details</h3>

			<table>
				<thead>
					<tr>
						<th scope="col">For</th>
						<th scope="col">Amount</th>
						<th scope="col">Description</th>
						<th scope="col">Time</th>
						<th scope="col">Importance</th>
					</tr>
				</thead>
				<tr v-for="item in modal_data.day_logs">
					<td data-label="For">${item.for}</td>
					<td data-label="Amount"><span class="money">${item.amount | formatMoney}</span></td>
					<td data-label="Description">${item.description || '--'}</td>
					<td data-label="Time">${item.createdAt | formatDate}</td>
					<td data-label="Importance">${item.importance}</td>
				</tr>
			</table>
		</div>
	</div><!--/#app-->
{% endblock %}



{% block js %}
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/js/vue.min.js" charset="utf-8"></script>
    <script src="/js/axios.min.js" charset="utf-8"></script>
    <script src="/js/moment.js" charset="utf-8"></script>
    <script type="text/javascript">
		const api = window.location.origin
        var app = new Vue({
            delimiters: ['${', '}'],
            el: '#app',
            data: {
                data: [],
				newPayment: {
					for: '',
					description: '',
					amount: 1,
					importance: 2
				},
				sending: false,
				loading: false,
				modal_data: {}
			},
			mounted(){
				//
			},
			methods: {
				modal(day){
					this.modal_data = day
					$('.d-layer').fadeIn('fast')
					$('.modal').fadeIn('fast')
				},
				hideModal(){
					$('.d-layer').fadeOut('fast')
					$('.modal').fadeOut('fast')
					setTimeout(() => {
						this.modal_data = {}
					}, 300)
				},
				getData(){
					this.loading = true;
					axios.get(`${api}/all`)
						.then((res) => {
							setTimeout(() => {
								this.loading = false;
								this.data = res.data;
							}, 1000)
						})
				},
				add(){
					if(this.newPayment.for == ''){
						return this.Err('You must write what did you paid for!')
					}
					if(this.newPayment.amount < 1){
						return this.Err('wtf man!, write how much did you pay!')
					}
					this.sending = true
					axios.post(`${api}/new`, this.newPayment)
						.then(res => {
							setTimeout(() => {
								this.newPayment.for = ''
								this.newPayment.amount = 1
								this.newPayment.importance = 2
								this.sending = false;
							}, 700)
						}).catch((err) => {
							console.log(err);
							this.Err(err)
						})
				},
				showLogs(e){
					this.getData()
					window.scrollTo(0, 0);
					$('.add-form').animate({
				        opacity: 0,
				        top: -100
				    }, function() {
				        $('.add-form').hide()
				        $('.logs').show()
				        $('.logs').animate({
				            opacity: 1,
				            top: 0
				        })
				    })
				},



				// Error handler
				Err(msg = 'Something missing!'){
					$('.alert').hide()
				    $('body,html').animate({
				        scrollTop: 0
				    }, 500);
				    $('.alert').text(msg)
				    $('.alert').slideDown()
				    setTimeout(() => {
				        $('.alert').slideUp()
				    }, 3000)
				    setTimeout(() => {
				        $('.alert').text('فيه بيانات ناقصة!')
				    }, 3500)
				}
			},
			filters: {
				getDaySum(arr){
					let x = arr.reduce((total, current, i, arr) => {
						return total + current.amount
					}, 0)
					return x;
				},
				getMonthSum(arr){
					let x = arr.reduce((total, current, i, arr) => {
						current.day_logs.forEach(item => {
							total += item.amount
						})
						return total
					}, 0)
					return x;
				},
				formatMoney(n){
				    return n.toFixed(1).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
				},
				formatDate(date){
					return moment(date).format('DD/MMMM/YYYY hh:mm:ss a');
				}
			},
		})
	</script>
{% endblock %}
