*{
	box-sizing: border-box;
}
html, body{
	min-height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
nav{
	position: absolute;
	right: 10px;
	top: 20px;
}
nav a{
	padding: 10px 15px;
	color: #fff;
	text-decoration: none;
	border: 1px solid #764ba2;
}
a {
  color: #3498db;
}

.logo{
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
}
.logo img{
	width: 100%;
}
.container{
	width: 75%;
	padding: 10px 15px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin: 30px auto;
	background-color: #fff;
}
h1{
	text-align: center;
	margin: 0;
	margin-bottom: 0;
	font-weight: 100;
}
h1 a{
	text-decoration: none;
	transition: .1s;
}
h1 a:hover{
	color: #2980b9;
}

.form > label{
	display: block;
	margin-bottom: 5px;
	margin-top: 15px;
}
select, input, textarea{
	width: 100%;
	border-radius: 2px;
	padding: 5px 10px;
	display: block;
	outline: 0;
	transition: .1s;
	border: 1px solid #ddd;
	font-size: 19px;
	margin-bottom: 10px;
}
textarea{
	height: 150px;
	resize: none;
}
select:focus, input:focus, textarea:focus{
	border-color: rgb(118, 75, 162);
}

/*Add post*/
.alert{
	/* position: absolute; */
	bottom: calc(100% + 10px);
	left: 0;
	right: 0;
	padding: 10px 15px;
	color: #fff;
	background-color: #aaa;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}
.alert-danger{background-color: rgb(231, 76, 60)}
.alert-success{background-color: rgb(46, 204, 113)}
.add-form{
	position: relative;
	margin-top: 100px;
	width: 600px;
	padding-top: 50px;
}
.form-badge{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	height: 70px;
	width: 70px;
	display: flex;
	z-index: 5;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	background-color: #764ba2
}
.form-badge img{
	margin: auto;
	width: 60%;
}
.add-form .form, .add-form h2{
	margin: 10px auto 15px auto;
}
.add-form h2{
	text-align: center;
	text-transform: capitalize
}
.types{
	display: flex;
	flex-wrap: wrap;
	margin: 10px -10px 10px -10px;
}
.types label.type{
	flex-basis: calc(33.333% - 20px);
	margin: 0 10px;
    border: 1px solid rgba(118, 75, 162, .4);
    padding: 20px 0;
    border-radius: 3px;
    cursor: pointer;
    transition: .14s;
    text-align: center;
    position: relative;
    user-select: none
}
.types label.type:hover{
    border: 1px solid rgba(118, 75, 162, .8);
}
.types label.type input[type="radio"]{
    display: none;
}
.types label.type span{
    position: relative;
    z-index: 3
}
.types label.type input[type="radio"] + .color-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(118, 75, 162, 1);
    opacity: 0;
    transition: .15s;
    z-index: 2
}
.types label.type input[type="radio"]:checked + .color-layer{opacity: 1}
.types label.type input[type="radio"]:checked + .color-layer + span{color: #fff}

button[type="submit"]{
	display: block;
	padding: 10px;
	font-size: 16px;
	color: #fff;
	margin: auto;
	border: 0;
	background-color: rgba(118, 75, 162, .9);
	border-radius: 2px;
	margin-top: 50px;
	width: 100%;
	transition: .1s;
}
button[type="submit"]:hover{
	cursor: pointer;
	background-color: rgba(118, 75, 162, 1);

}

.logs{
	width: 300px;
	margin: 100px auto;
	position: relative;
}
.logs .log{
	background-color: #fff;
	padding: 50px 15px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	position: relative;
	display: flex;
	cursor: default;
	user-select: none;
	margin-top: 50px;
}
.logs .log:first-of-type{margin-top: 0;}
.logs .log:first-of-type::before{display: none}
.logs .log::before{
	content: '';
	width: 0;
	height: 50px;
	position: absolute;
	left: 50%;
	bottom: 100%;
	border-right: 3px dashed #fff;
}
.logs .log:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.logs .log:hover button{
	opacity: 1
}

.logs .log .date{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 12px;
	color: #555;
}
.logs .log .days-counter{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 12px;
	color: #555;
}

.logs .log .amount{
	font-size: 30px;
	position: relative;
	line-height: 1;
	display: inline-block;
	margin: auto;
}
.money{
	line-height: 1;
	position: relative;
}
.money::before,
.logs .log .amount::before{
	content: 'EGP';
	position: absolute;
	right: 100%;
	top: 100%;
	font-size: 30%;
	opacity: .8;
	line-height: 1;
	transform: translate(0%, -100%)
}
.logs .log button{
	position: absolute;
	bottom: 0;
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	right: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: rgba(118, 75, 162, 1);
	border: 0;
	display: block;
	width: 100%;
	cursor: pointer;
	outline: none;
	opacity: .2;
}



.logs .log.month{
	padding: 20px;
	text-align: center;
	width: 65%;
	margin: auto;
	margin-top: 50px;
	flex-direction: column;
	background-color: #764ba2;
	color: #fff;
}
.logs .log.month .month-name{
	margin: auto;
	font-size: 13px;
}
.logs .log.month .month-total{
	font-size: 33px;
	display: inline;
	margin: auto;
}

.loader{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, .8);
	z-index: 10;
}
.loader::after{
	content: '';
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid rgba(102, 126, 234, .8);
	border-right-color: rgba(118, 75, 162, 1);
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	transform: rotate(0);
	animation: loader .35s linear infinite;
	transform-origin: center center;
}
.logs .loader::after{
	margin-top: 100px;
	border-color: #fff;
	border-right-color: rgba(118, 75, 162, 1);
}
@keyframes loader {
	100%{
		transform: rotate(360deg);
	}
}


.view-logs{
	position: absolute;
	left: 50%;
	top: calc(100% + 15px);
	transform: translateX(-50%);
	color: #fff;
	background: none;
	border: none;
	font-size: 16px;
	font-weight: 100;
}
.view-logs:hover{
	text-decoration: underline;
	cursor: pointer;
}




.d-layer{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	background-color: rgba(0, 0, 0, 0.8);
	display: none
}
.modal{
	display: none;
	width: 700px;
	max-width: 100%;
	padding: 10px;
	border-radius: 4px;
	background-color: #fff;
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 12;
}
.modal h3{
	margin: 0;
	padding: 15px 0;
	border-bottom: 1px solid #ddd
}

table{
	margin: 20px 0;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
}
tr:nth-child(even) {background-color: #f2f2f2;}












@media screen and (max-width: 480px){
	.logo{
		width: 80px;
	}
	nav{
		top: 30px
	}
    .add-form{
        width: calc(100% - 20px);
        margin-top: 100px;
    }
    .types label.type{
        flex-basis: calc(100% - 20px);
        margin-top: 10px;
    }
	.view-logs{
		width: 100%;
	}

	table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
